.container {
  max-width: var(--container-max-width);
  margin: 3rem auto;
  padding-inline: 2rem;
}
@media (max-width: 1024px) {
  .container {
    margin: 1.5rem auto;
    padding-inline: 1.5rem;
  }
}
