.container {
  max-width: var(--container-max-width);
  margin: 0 auto;
}
.wrapper {
  padding: 2.5rem 2rem;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.logo {
  width: 200px;
  aspect-ratio: 200 / 40;
}

.logo img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.navMenuDesktop {
  display: block;
}
.navMenuDesktop ul {
  display: flex;
  gap: 25px;
  list-style: none;
}
.navMenuDesktop a {
  font-size: 1.25rem;
  font-weight: 500;
  border-bottom: 3px solid transparent;
  transition: all 0.2s ease;
}

.navMenuDesktop .active {
  border-bottom: 3px solid var(--font-color-accent);
}

.navMenuDesktop a:hover {
  color: var(--font-color-accent);
}

.navIcons {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.cart {
  position: relative;
  margin-right: 8px;
  width: 30px;
  aspect-ratio: 1 / 1;
}
.cart img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: contain;
}
.cart span {
  position: absolute;
  top: -6px;
  right: -6px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;

  background-color: var(--font-color-accent);
  border-radius: 50%;

  font-size: 12px;
  font-weight: 300;
  color: #fff;
}

.menuIcon {
  height: 24px;
  width: 24px;
}
.menuIcon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.mobileNav {
  display: none;
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  bottom: 0;

  background-color: #fff;
  z-index: 20;
}
.mobileNavContainer {
  max-width: 400px;
  margin: 0 auto;
  padding: 0rem 1.5rem;
}

.mobileNav ul {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-bottom: 2rem;
  list-style: none;
}
.mobileNav a {
  display: block;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #d2d2d2;

  font-size: 1.125rem;
  font-weight: 500;
}
.mobileCartButton,
.mobileMenuButton {
  display: none;
}

@media (max-width: 1024px) {
  .mobileNav,
  .mobileMenuButton,
  .mobileCartButton {
    display: block;
  }
  .navMenuDesktop,
  .desktopLanguageSelect,
  .desktopSignButton,
  .desktopCartButton {
    display: none;
  }

  .wrapper {
    padding: 1.5rem;
  }
}
@media (max-width: 550px) {
  .logo {
    width: 170px;
  }
  .cart {
    width: 24px;
  }
  .cart span {
    width: 15px;
    height: 15px;
    font-size: 10px;
  }
  .navIcons {
    gap: 15px;
  }
}
@media (max-width: 350px) {
  .logo {
    width: 140px;
  }
}
